.Weather{
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background: url(https://images.pexels.com/photos/1887792/pexels-photo-1887792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
}

.Weather form{
    margin-bottom: 10px;
}
.Weather h1{
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.Weather ul{
    padding: 0;
    margin: 0;
}
  
.Weather li{
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    margin: 0;
}
.Weather .WeatherInfo .cityIcon{
    margin-right: 10px;
    max-width: 300px;
    position: relative;
    top: -30px;
}

.Weather .formSearch{
    font-size: 18px;
    width: 100%;
    border: 1px solid #dadde1;
    border-radius: 5px;
    padding: 5px;
}
.Weather .temperature{
    font-size: 55px;
    line-break: 65px;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -15px;
}
.Weather .celsuisUnit{
    position: relative;
    top: -45px;
    color: #fff;
    opacity: 0.8;
    margin-left: 0;

}
.Weather .fahrenheitUnit{
    position: relative;
    top: -45px;
    color: #fff;
    opacity: 0.8;
}